<div class="card-deck text-center">
	<div class="card">
		<img id="image" src="" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Ajouter un produit</h5>
			<p class="card-text">Ajouter un article de votre stock </p>
			<button mat-button color="primary" routerLink = ''>Ajouter</button>
		</div>
	</div>

	<div class="card">
		<img id="image" src="" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Supprimer un produit</h5>
			<p class="card-text">Enlever un produit de votre stock.</p>
			<button mat-button color="primary" routerLink = ''>Supprimer</button>
		</div>
	</div>

	<div class="card">
		<img id="image" src="" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Modifier Stock</h5>
			<p class="card-text">Modifier les informations et le prix des articles dans le stock de produits.</p>
			<button mat-button color="primary" routerLink = 'stock'>Modifier</button>
		</div>
	</div>
</div>