<div class="body">
    <nav class="hidden-xs-down bg-faded sidebar">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary btn-lg btn-block" routerLinkActive="active" routerLink="dashboard">Dashboard</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary btn-lg btn-block" routerLinkActive="active" routerLink="produit">Produit</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary btn-lg btn-block" routerLinkActive="active" routerLink="stock">Stock</button>
            </li>
        </ul>
    </nav>
</div>